# ============ Project specific =======================

# media files in package folder
/dhtm/**/*.png
/dhtm/**/*.svg
/dhtm/**/*.gif

# build folder
/build/

# wandb folders
wandb/

# pycharm settings: ignore all with some exceptions
.idea/*

# ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
# please, place all project specific rules above this line
# =====================================================

# OSX aux files
.DS_Store

# python cache
__pycache__/

# Distribution / packaging
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints
.last_checked

# VS Code settings
.vscode/
